body {
  background-color: rgb(35, 35, 35);
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Protest Revolution";
  font-size: 3em;
}

h1:hover {
  color: #0ef;
}

pre {
  font-family: Anta;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  color: #0ef;
}

a:active {
  font-size: 1.1em;
  color: #0ef;
}

a:visited {
  color: blanchedalmond;
}
