body {
  font-family: Anta;
  font-size: 1em;
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Protest Revolution', Anta;
  text-align: center;
}

p {
  margin: auto;
  padding-left: 5px;
}

.dropdown {
  display: inline-block;
}

.dropdown button {
  padding: 10px 15px;
  font-family: Raleway;
  border: none;
  box-shadow: 2px 2px 3px aliceblue;
  background-color: #333333;
  color: white;
  box-shadow: 2px 2px 3px white;
  border: none;
  border-radius: 10px;
}

.dropdown button:hover {
  background-color: #222222;
  font-family: Anta;
}

.dropdown a {
  text-decoration: none;
  background-color: #5e5e5e;
  color: #fff;
  padding: 5px 5px;
  display: block;
  
}

.dropdown .select {
  display: none;
  position: relative;
  min-width: 100px;
  text-align: center;
  box-shadow: 2px 2px 3px white;
  border: none;
}

.dropdown a:hover {
  background-color: #7a7a7a;
  font-size: 1.1em;
  color: floralwhite;
}

.dropdown:hover .select {
  display: block;
}
